In [381]:
import pandas as pd
import matplotlib as plt

In [382]:
df = pd.read_json('MyActivity.json',convert_dates=True)

In [383]:
df = pd.DataFrame(df)

In [384]:
df['time'] = df['time'].apply(pd.to_datetime)

In [385]:
df = df[df.subtitles.notna()]

In [386]:
def extract(x):
    return x[0]['name']

In [387]:
names = map(extract,df.subtitles)

In [388]:
df['names']=list(names)

In [389]:
df['month'] = df.time.dt.strftime('%B %Y')

In [390]:
df.names

0       Sailing La Vagabonde
1            Vernon A. Keith
2                       UKTV
3              Electron Dust
4                     rlmcgr
                ...
6135                   Tobar
6136       TopolewskiFanClub
6137                bjnignog
6141             Jai Beniwal
6144            heartbraeker
Name: names, Length: 4426, dtype: object

In [391]:
all_names=set(df.names)

In [392]:
len(all_names)

1838

In [393]:
df=df.set_index('time')

In [441]:
df11 = df.groupby(pd.Grouper(freq='M'))['names'].value_counts().groupby('names').cumsum()

In [443]:
df11.max()

225

In [444]:
df11_unstacked = df11.unstack(level=-1)

In [445]:
df11_unstacked

names,.NET Interview Preparation videos,/Yuriy,0nedream0nedirection,1 NEWS,1947dave,1967sander,1984dreaming,1w3rpass,2091082 TMK,20th Century Studios Singapore,...,wottac,xiaobai5,yachtportcartagena,yesladboyyeee,yrag1958,yronen1,zipcar,zzzng,Άρωμα Λευκάδας,Евгений Храмов
time,,,,,,,,,,,,,,,,,,,,,
2011-10-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-11-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-04-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-05-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-29 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2020-04-30 00:00:00+00:00,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
2020-05-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [446]:
df11_unstacked = df11_unstacked.ffill()

In [455]:
df11_unstacked.index.name = 'date'

In [490]:
df12_unstacked = df11_unstacked.rank(axis=1,method='first',ascending=False)

In [ ]:
df11_unstacked.reset_index(inplace=True)

In [497]:
df12_unstacked.reset_index(inplace=True)

In [504]:
df12_long = pd.melt(df12_unstacked,id_vars=['date'])

In [506]:
df12_long = df12_long.sort_values('date')

In [507]:
df12_long

                            date                              names   value
0      2011-10-31 00:00:00+00:00  .NET Interview Preparation videos     NaN
96768  2011-10-31 00:00:00+00:00                          PewDiePie     NaN
96672  2011-10-31 00:00:00+00:00                     Peter Woodcock     NaN
96576  2011-10-31 00:00:00+00:00                      Peter Sheeler     NaN
96480  2011-10-31 00:00:00+00:00                          Peter Kay     NaN
...                          ...                                ...     ...
116927 2020-05-31 00:00:00+00:00                         SigalaVEVO  1353.0
117023 2020-05-31 00:00:00+00:00                   Silicon Republic  1354.0
117119 2020-05-31 00:00:00+00:00                       SimpliFlying  1355.0
114623 2020-05-31 00:00:00+00:00                         Sea Change  1332.0
176447 2020-05-31 00:00:00+00:00                     Евгений Храмов  1838.0

[176448 rows x 3 columns]